@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body{
    /* ... */
	  background-color:#658B6C;

    
 }
}
@media (max-width: 360px) {
  body{
    background-color:#325d5a;
    background-image: url("back_mobile.png");
    background-repeat:no-repeat;
    background-size: cover;
    }
    }
@media (min-width: 360px) {
body{
  background-color:#325d5a;
  background-image: url("/back.png");
  background-repeat:no-repeat;
  background-size: cover;
  }
  }
